
.container2
{
  margin: 40px;
  background-color: white;
  width: 95%;
  height: 500px;
  display: flex;
  border-radius: 30px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  
}
.container21{
  padding: 30px;
}
.container211 h1{
  color: rgb(76, 145, 210);
 margin-left: 50px;
 font-size: 100px;
 font-weight: 800;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container212 h3{
  font-size: 40px;
  margin-left: 50px;
  margin-top: 50px;

  color: rgb(150, 219, 150)
}
.container213 button {
  
  
  margin-left: 50px;
  margin-top: 40px;
  font-weight: 600;
  
}

.container22 img{
    overflow: hidden;
  width: 470px;
  height: 500px;
  /* margin-top: px; */
  margin-left: 280px;
}
