.goal1{
    width: 100%;
    height: 850px;
    background-color: rgb(217, 249, 215);
}
img{
    width: 100px;
}
.goal11 h1{
    text-align: center;padding: 40px;
}
.goal11 span{
    color:rgb(150, 219, 150) ;
}
.goal12 img{
    margin-top: 50px;
}
.goal12 h5{
 padding: 40px;
}
.goal12{
    display: grid;
    grid-template-columns: 420px 420px 420px;
    row-gap: 40px;
    text-align: center;
    justify-content: center;
    /* padding: 50px; */
    /* margin-top: 100px; */
}
.goal121{
  
    width: 380px;
    height: 270px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);

}
.goal12 div:hover{
    background-color: rgb(165, 249, 159);
    color: white;

}
